.section_nuber-one{
    display: flex;
    width: max-content;
}
.section_ul_logo-icon{
    width: 18px;
    height: 18px;
}
.section_nuber-one_list{
    width: max-content;
    display: flex;
}
.section_ul_item-header{
    font-family: monospace;
    font-weight: bold;
}
.svg-burger{
    width: 15px;
    height: 2px;
}
.section_ul_logo-icon{
fill: blue;
}